# Port to run the server on
PORT=3000
HOST=localhost
NODE_ENV=development


# Log level: debug | info | warn | error
LOG_LEVEL=info

# CORS Configuration
CORS_ORIGIN="http://localhost:3000,http://localhost:3001"
CORS_CREDENTIALS=true
CORS_METHODS="GET,POST,PUT,DELETE,OPTIONS"
CORS_ALLOWED_HEADERS="Content-Type,Authorization"

# Enable OpenAPI documentation (set to "false" to disable)
DOCS_ENABLED=true
DOCS_PROVIDER=scalar # scalar | swaggerui
DOCS_PATH=/docs


# API route prefix
API_PREFIX=/api/v1
